 html {
	margin: 0;
	width: 100%;
 }

 body {
 	background: #eaeaea;
 	width: 1100px;
 	margin: 0 auto;
 	
 }

header {
 margin-right: auto;
 margin-left: auto;
}

.logo_head {
	width: 382px;
	margin: 249px auto 128px;
}



nav {
	width: 1100px;
	height: 142px;
	background-color: #f8f8f8;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 83px;
}

a {
	text-decoration: none;
	color: inherit;
}

div.logo_nav {
	width: 86px;
	margin-right: 59px;
}

img {
	width: 100%;
}

.links_nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.links_nav a {
	font-family: "Josefin Sans", sans;
	font-size: 16px;
	margin-right: 29px;
}

.find_nav {
	border: 1px solid #eaeaea;
	padding: 3px 20px;
}

.find_nav input {
	border: none;
	background: #f8f8f8;
	font-family: "Josefin Sans", sans;
	width: 125px;
	text-align: center;
	vertical-align: 3px;
	margin-right: 0;

}

.find_nav img {
	width: 12px;
	height: 12px;
	position: absolute;
	padding-top: 5px;
	margin-left: 6px;
}


.logo_in_ban {
	width: 248px;

}

.bananas_foster {
	background: url("./img/pie_pict.png") no-repeat;
	background-position: top -10px left -10px;
	background-color: #f8f8f8;
	width: 1100px;
	height: 440px;	
    margin: auto;
  	padding-top: 50px;
  	padding-bottom: 55px;
  	padding-left: 110px;
  	box-sizing: border-box;
  	margin-bottom: 83px; 
}

.bananas_foster_h2 {
	font-size: 24px;
	color: #921026;
	font-family: "Myriad Pro", serif;
	font-weight: 300;
	letter-spacing: 0.025em;
}

.bananas_foster_p {
	font-family: "Josefin Sans", sans;
	font-size: 16px;
	font-weight: 400;
	width: 400px;
	letter-spacing: 0.065em;
	line-height: 1.2;
}

.bananas_foster_button {
	font-family: "Josefin Sans", sans;
	font-size: 14px;
	letter-spacing: 0.025em;
	border: 1.0px solid #c2c2c2;
	padding: 7px 9px;
	margin-top: 10px;
}

.recipies {
 background-color: #ffffff;
 width: 1120px;
 margin: auto;
 box-sizing: border-box;
 display: flex;
 justify-content: space-between;

}

.recipies_wrapper {
	width: 1024px;
	display: flex;
	margin-right: auto;
	margin-left: auto;
}

.recipie_one img {
	width: 315px;
	height: 206px;
	padding-top: 36px;
	padding-right: 36px;
}

.recipie_one p {
	font-family: "Josefin sans", sans;
	font-size: 18px;
	letter-spacing: 0.045em;
	margin-top: 6px;
}

.recipie_two img {
	width: 315px;
	height: 206px;
	padding-top: 36px;
	padding-right: 36px;
}

.recipie_two p {
	font-family: "Josefin sans", sans;
	font-size: 18px;
	letter-spacing: 0.045em;
	margin-top: 6px;
}

.recipie_three img {
	width: 315px;
	height: 206px;
	padding-top: 36px;
}

.recipie_three p {
	font-family: "Josefin sans", sans;
	font-size: 18px;
	letter-spacing: 0.045em;
	margin-top: 6px;
}









